.welcome{
    border: 1px solid black;
    border-radius: 10px;
    .rules{
        border-radius: 10px;
        li{
            background-color: rgba(255,255,255,.6);
        }
    }
    .list-group-item{
        font-size: 33px;
    }
}